* {
	background-color: bisque;
}

.principal {
	background-color: red;
	height: 200px;
	width: 200px;
	border: 4px solid blue;
}

.principal h1 {
	background-color: cadetblue;
}

#ejemplo {
	background-color: coral;
}

button {
	color: white;
	background-color: teal;
}

button:hover {
	background-color: tomato;
}

button:hover::first-letter {
	font-size: larger;
}
