body {
	background-color: gray;
}

.cuadrados {
	width: 200px;
	height: 200px;
	background-color: aqua;
	transition: 2s;
	margin: 20px;
}

div:nth-of-type(1):hover {
	background-color: black;
	border-radius: 50%;
	cursor: pointer;
}

div:nth-of-type(2):hover {
	background-color: black;
	height: 100px;
	cursor: pointer;
}

div:nth-of-type(3):hover {
	width: 0;
	height: 0;
	border-top: 100px solid grey;
	border-left: 200px solid black;
	border-bottom: 100px solid grey;
}
