.tarjeta {
	width: 200px;
	height: 200px;
	border: 5px;
	border-style: solid;
	border-color: black;
	border-radius: 5px;
	background-color: dimgray;
}
.image {
	width: 100px;
	height: 100px;
	border: 3px;
	border-style: solid;
	border-color: whitesmoke;
	border-radius: 50px;
	display: block;
	margin: auto;
}

.text {
	text-align: center;
}
