.moreHide {
	display: none;
}

.contenedor2 {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
}

.peliList {
	margin: 20px;
	padding: 5px 5px;
}

img {
	height: 260px;
	width: 170px;
}
