.contenedor3 {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.next {
	width: 86px;
	margin-left: 300px;
	margin-right: 100px;
}

.moreHide {
	display: none;
}

.contenedor2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.peliList {
	width: 640px;
	margin-block-start: 20px;
}

img {
	height: 280px;
	width: 190px;
}
